<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User Data</title>
</head>
<body>
<div class="container panel panel-default">
    <div class="panel-heading">
    <h3 class="text-center">Add User Data</h3>
    </div>
    <div class="panel-body">
    Name: <br><input type="text" class="form-control" [(ngModel)]="NewUser.Name"><br>
    Email: <br><input type="text"class="form-control"  [(ngModel)]="NewUser.Email"><br>
    Address: <br><input type="text" class="form-control"[(ngModel)]="NewUser.Address"><br>
    Phone Number: <br><input type="text" class="form-control" [(ngModel)]="NewUser.Phone"><br>
    </div>
    <button type="button" (click)="AddUser()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add User</button>
    <br>
</div>



</body>
</html>