<div class="container panel panel-default">
  <div class="panel-heading">
<h3 class="text-center">User List</h3>
</div>
<br>
<div class="panel-body">
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let u of apiservice.UserList">
    <td>{{ u.Name }}</td>
    <td>{{ u.Email }}</td>
    <td>{{ u.Address }}</td>
    <td>{{ u.Phone }}</td>
    <td><button type="button" (click)='RemoveUser(u.Id)'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove</button></td>
  </tr>
</table>
</div>
</div>